header.site-header 
  div.container
    h1.kitchenly-branding.tk-mic-32-new-web.pull-left 
      a(href='/') kitchen.ly
    div.pull-right
      ul#user-nav.unstyled.nav.nav-pills
        li.pull-left 
          a.sign-up-link(href='/') Sign Up
        li.pull-left
          a.sign-in-link(href='/') Login 

div.page-contain.container
    div#navbar-secondary.navbar.navbar-inverse
        div.navbar-inner
            form.navbar-form.pull-left
                div#city-picker.input-append.pull-left
                    input#location.typeahead.span4(type="text", placeholder="What city do you want to eat in?")
                    span.add-on
                        i.icon-map-marker

                div#date-picker.input-append.pull-left
                    input#appendedInput.span4(type="text", placeholder="When do you want to eat?")
                    span.add-on
                        i.icon-calendar

                div#guest-number-picker.btn-group.pull-left
                    button.btn.dropdown-toggle.span2(data-toggle="dropdown") 2 guests
                        i.icon-user.pull-right
                    ul.dropdown-menu
                        li
                            a(href="#") 1 Guest
                        li
                            a(href="#") 2 Guests
                        li
                            a(href="#") 3 Guests
                        li
                            a(href="#") 4 Guests
                        li
                            a(href="#") 5 Guests
                        li
                            a(href="#") 6 Guests
                        li
                            a(href="#") 7 Guests
                        li
                            a(href="#") 8 Guests

                div#search-button.btn-group.pull-left
                  button.btn.btn-primary.span2(type="submit") Search for Dinner

    div.search-results-contain
    div.map

    div.result-grid.container
        div.row.result-row

            each user, index in users
                div.span3.result-box
                    - if (typeof(user.venues) !== 'undefined' && user.venues.length > 0)
                        img.result-main-img(src="#{user.venues[0].photo_url}")
                        h4.result-title
                            a(href="#result-modal-#{index}", data-toggle="modal") #{user.venues[0].name}
                                span.price-range.pull-right //#{user.venues[0].price}
                    div.venue
                        i.icon-map-marker.icon-white
                        - if (typeof(user.venues) !== 'undefined' && user.venues.length > 0 && user.venues[0].location)
                            span #{user.venues[0].location.city}, #{user.venues[0].location.state}

                    div.result-meta
                        div.host-bio
                            img.host-user-img.pull-left(src="#{user.photo_url}")
                            div.host-name #{user.name.first_name} #{user.name.last_name}
                            div.host-rating
                                i.icon-star.icon-white
                                i.icon-star.icon-white
                                i.icon-star.icon-white
                                i.icon-star.icon-white

                div.modal.hide(id="result-modal-#{index}")
                    div.modal-header
                        button.close(type="button", data-dismiss="modal") &times;
                        h3 #{user.venues[0].name}
                        div.location
                          i.icon-map-marker
                          span.city-name #{user.venues[0].location.city}, #{user.venues[0].location.state}

                    div.modal-body
                        div.meta
                            div.host-bio

                              img.host-user-img-big.pull-left(src="#{user.photo_url}")
                              div.host-name #{user.name.first_name} #{user.name.last_name}
                              div.host-rating
                                  i.icon-star
                                  i.icon-star
                                  i.icon-star
                                  i.icon-star

                    div.modal-footer
                        a.btn.btn-primary.btn-large(href="#") Book It!
