block scripts
   script(src='http://maps.google.com/maps/api/js?sensor=false')
   script(src='/scripts/map.js')
    script(src='/scripts/searchResults.js')

header.site-header
  div.container
    h1.kitchenly-branding.tk-mic-32-new-web.pull-left 
      a(href='/') kitchen.ly
    div.pull-right
      ul#user-nav.unstyled.nav.nav-pills
        li.pull-left 
          a.sign-up-link(href='/') Sign Up
        li.dropdown.pull-left
          a.dropdown-toggle(href='#', data-toggle='dropdown') Login
          .dropdown-menu(style='padding: 15px; margin-left: -203px; margin-top:-6px; padding-bottom: 0px;')
            form(method='post', action='login', accept-charset='UTF-8')
              input#username(style='margin-bottom: 15px;', type='text', placeholder='Username', name='username')
              input#password(style='margin-bottom: 15px;', type='password', placeholder='Password', name='password')
              input#remember-me(style='float: left; margin-right: 10px;', type='checkbox', name='remember-me', value='1')
              label.string.optional(for='user_remember_me')  Remember me
              input#sign-in.btn.btn-primary.btn-block(type='submit', value='Sign In')

div.page-contain.container
    div#navbar-secondary.navbar.navbar-inverse
        div.navbar-inner
            form.navbar-form.pull-left
                div#city-picker.input-append.pull-left
                    input#location.typeahead.span4(type="text", placeholder="What city do you want to eat in?", value="Ogden, UT")
                    span.add-on
                        i.icon-map-marker
                        
                div#date-picker.input-append.pull-left
                    input#date-time.span4(type="text", rel="popover", data-placement="bottom", placeholder="When do you want to eat?", value="Saturday, November 3rd 2012")
                    span.add-on
                        i.icon-calendar

                div#guest-number-picker.btn-group.pull-left
                    button.btn.dropdown-toggle.span2(data-toggle="dropdown") 
                        span.num 2 guests
                        i.icon-user.pull-right
                    ul.dropdown-menu
                        li
                            a(href="#") 1 Guest
                        li
                            a(href="#") 2 Guests
                        li
                            a(href="#") 3 Guests
                        li
                            a(href="#") 4 Guests
                        li
                            a(href="#") 5 Guests
                        li
                            a(href="#") 6 Guests
                        li
                            a(href="#") 7 Guests
                        li
                            a(href="#") 8 Guests

                div#search-button.btn-group.pull-left
                  button.btn.btn-primary.span2(type="submit") Search for Dinner

    div.search-results-contain
    div#map-canvas

    div.result-grid.container
        div.row.result-row

            each user, index in users
                div.span3.result-box
                    - if (typeof(user.venues) !== 'undefined' && user.venues.length > 0)
                        div.result-main-img-contain
                          a(href="#result-modal-#{index}", data-toggle="modal")
                            img.result-main-img(src="../images/#{user.venues[0].photo_url}")
                        h4.result-title
                            a(href="#result-modal-#{index}", data-toggle="modal") #{user.venues[0].name}
                                span.price-range.pull-right //#{user.venues[0].price}
                    div.venue
                        i.icon-map-marker.icon-white
                        - if (typeof(user.venues) !== 'undefined' && user.venues.length > 0 && user.venues[0].location)
                            span #{user.venues[0].location.city}, #{user.venues[0].location.state}

                    div.result-meta
                        div.host-bio
                            img.host-user-img.pull-left(src="../images/#{user.photo_url}")
                            div.host-name #{user.name.first_name} #{user.name.last_name}
                            div.host-rating
                                i.icon-star.icon-white
                                i.icon-star.icon-white
                                i.icon-star.icon-white
                                i.icon-star.icon-white

                div.modal.hide(id="result-modal-#{index}")
                    div.modal-header
                        button.close(type="button", data-dismiss="modal") &times;
                        h3 #{user.venues[0].name}
                        div.location
                            i.icon-map-marker
                            span.city-name #{user.venues[0].location.city}, #{user.venues[0].location.state}

                    div.modal-body
                        img.result-main-img(src="../images/#{user.venues[0].photo_url}")
                        div.meta

                    div.modal-footer
                        div.host-bio.span3.pull-left
                            img.host-user-img-big.pull-left(src="../images/#{user.photo_url}")
                            div.host-name.pull-left #{user.name.first_name} #{user.name.last_name}
                            div.host-rating.pull-left
                                i.icon-star
                                i.icon-star
                                i.icon-star
                                i.icon-star
                        div.pull-right
                            span Description:
                            span #{user.description}
                            span Guest Limits:
                            - if (user.guest_limit)
                                span #{user.guest_limit.minimum}
                                span #{user.guest_limit.maximum}
                            span Specialties:
                            - if (user.specialties)
                                span #{user.specialties}
                                each specialty in user.specialties
                                    span #{specialty}
                            span Reviews:
                            - if (user.reviews)
                                each review in user.reviews
                                    span #{review.comment}
                                    span #{review.rating}
                            a.book-now.btn.btn-primary.btn-large(id="book-now-modal-#{index}", href="#", data-uname="#{user.username}", data-uid="#{user._id}") Book It!
